In [2]:
import os
from os.path import join
from adin.settings import BASE_DIR

os.environ["DJANGO_ALLOW_ASYNC_UNSAFE"] = "true"

In [7]:
objs=pd.DataFrame(Factor_Data.objects.values('factor', 'validity_date', 'amount', 'percentage', 'in_instance_attribute'))
objs

  factor validity_date  amount percentage in_instance_attribute
0    IVA    2022-01-01       0     19.000                  None
1   Base    2022-01-01       0    100.000                  None

In [4]:
objs1=objs.assign(errors=objs.name.apply(lambda x: Calendar_Date.objects.get(pk=x).get_obj_errors()))
objs1

                       name        date errors
0  Fecha Inicio Cotabilidad  2022-01-01     []

In [5]:
objs1.to_csv(join(BASE_DIR, f'_files/reports/{datetime.date.today().strftime("%Y-%m-%d")}_calendar_date_errors.csv'), index=False)

In [4]:
obj=pd.DataFrame(Address.objects.filter(pk='K1-59B-21B603').values())
obj

,state_change_user_id,state_change_date,state,code,country,region,city,street_type,street_number,street_letter,...,numeral_number,numeral_letter,numeral_bis,numeral_bis_complement,numeral_coordinate,height_number,interior_group_type,interior_group_code,interior_type,interior_code
0,3,2022-07-13 20:34:37.869356+00:00,1,K1-59B-21B603,Colombia,Valle del Cauca,CALI,2,1,None,...,59,1,None,None,None,21,0,603,None,None