In [1]:
import os
import pandas as pd

jpath = os.path.join
BASEDIR = '/home/leon/projects/adin_2022/'

In [4]:
data_df = pd.read_csv(jpath(BASEDIR, '_files/realties_estates_raw.csv'))
data_df

              realty      estate  percentage
0      A6N-13N-62-O1  A6N-13N-62       100.0
1    A6N-13N-62-S101  A6N-13N-62       100.0
2    A6N-13N-62-S102  A6N-13N-62       100.0
3    A6N-13N-62-S103  A6N-13N-62       100.0
4    A6N-13N-62-S104  A6N-13N-62       100.0
..               ...         ...         ...
100        C31-1B-74    K2C-30-3       100.0
101        C31-1B-80    K2C-30-3       100.0
102        K2C-29-36   K2C-29-36       100.0
103      K1-35-29-B9    K1-35-29       100.0
104     K1-35-29-B11    K1-35-29       100.0

[105 rows x 3 columns]

In [3]:
for index, row in data_df.iterrows():
    rea_est = Realty_Estate()
    for attr in data_df:
         if row[attr] not in [-9999, 'ZZZZZ']:
            if attr == 'realty':
                setattr(rea_est, attr, Realty.objects.get(pk=row[attr]))                
            elif attr == 'estate':
                setattr(rea_est, attr, Estate.objects.get(pk=row[attr]))                
            else:
                setattr(rea_est, attr, row[attr])
    
    print(rea_est)

A6N-13N-62-O1
A6N-13N-62-S101
A6N-13N-62-S102
A6N-13N-62-S103
A6N-13N-62-S104
A6N-13N-62-S105
A6N-13N-62-S106
A6N-13N-62-S107
A6N-13N-62-S108
A6N-13N-62-S109
A6N-13N-62-S110
A6N-13N-62-S111
A6N-13N-62-S112
A6N-13N-62-S114
A6N-13N-62-S201
A6N-13N-62-S202
A6N-13N-62-S203
A6N-13N-62-S204
A6N-13N-62-S205
A6N-13N-62-S206
A6N-13N-62-S207
A6N-13N-62-S208
A6N-13N-62-S209
A6N-13N-62-S210
A6N-13N-62-S211
A6N-13N-62-S212
A6N-13N-62-S214
A6N-13N-62-S215
A6N-13N-62-S216
A6N-13N-62-S217
A6N-13N-62-S218
A6N-13N-62-S219
A6N-13N-62-S220
A6N-13N-62-S221
A6N-13N-62-S222
A6N-13N-62-S301
A6N-13N-62-S302
A6N-13N-62-S303
A6N-13N-62-S304
A6N-13N-62-S305
A6N-13N-62-S306
A6N-13N-62-S307
A6N-13N-62-S308
A6N-13N-62-S309
A6N-13N-62-S310
A6N-13N-62-S311
A6N-13N-62-S312
A6N-13N-62-S314
A6N-13N-62-S315
A6N-13N-62-S316
A6N-13N-62-S317
A6N-13N-62-S318
A6N-13N-62-S319
A6N-13N-62-S320
A6N-13N-62-S321
A6N-13N-62-S322
A6N-13N-66
A6N-13N-68
K1-17-37
K1-17-43
K1-17-47
K1-17-53
K1-17-57
K1-17-65
C18-1N-33
C18-1N-39
C18-1N-41
C18-1N-43
K1B-30-16
K1B-30-34
K1B-30-52
K1B-30-76
K2C-30-3
K2C-30-9
K2C-30-15-B2
K2C-30-15-B3
K2C-30-27
K2C-30-29
K2C-30-51
C30-1B-13
C30-1B-15-B1
C30-1B-15-B2
C30-1B-15-B3
C30-1B-15-B5
C30-1B-27
C30-1B-31
C31-1B-4
C31-1B-24
C31-1B-34
C31-1B-44
C31-1B-54
C31-1B-64
C31-1B-74
C31-1B-80
K2C-29-36
K1-35-29-B9
K1-35-29-B11