In [1]:
import os
import adin.settings as st
import pandas as pd

from django.db.models import F

jpath = os.path.join
BASE_DIR = st.BASE_DIR

In [2]:
charges = pd.DataFrame(Charge.objects.values('ledger', 'ledger__date', 'ledger__third_party', 'concept__accountable', 'concept__transaction_type', 'concept__date', 'account', 'value'))
charges =

SyntaxError: invalid syntax (1354849888.py, line 2)

In [3]:
charges2 = pd.DataFrame(Charge.objects.values('ledger', 'ledger__date', 'ledger__third_party', 'concept__accountable', 'concept__transaction_type', 'concept__date', 'account', 'value'))
total_balance(charges2, ['account'])

          total balance
account
132805               -1
240810         -3953839
839530           581000
913005         -2250000
11100505       22656311
13802005        2250000
13802010         190000
28150505      -18892470
93950505        -581000

In [4]:

concepts = pd.DataFrame(Charge_Concept.objects.all().values()).drop(['state_change_user_id', 'state_change_date', 'state'], axis=1)
concepts

,code,accountable_id,transaction_type_id,date
0,Mensualidad Arriendo Inmueble^2022-01-01_K2C-3...,K2C-30-15-B3^2022-01-01,Mensualidad Arriendo Inmueble,2022-01-01
1,Mensualidad Arriendo Inmueble^2022-02-01_K2C-3...,K2C-30-15-B3^2022-01-01,Mensualidad Arriendo Inmueble,2022-02-01
2,Mensualidad Arriendo Inmueble^2022-03-01_K2C-3...,K2C-30-15-B3^2022-01-01,Mensualidad Arriendo Inmueble,2022-03-01
3,Mensualidad Arriendo Inmueble^2022-01-15_C31-1...,C31-1B-64^2022-01-15,Mensualidad Arriendo Inmueble,2022-01-15
4,Mensualidad Arriendo Inmueble^2022-02-15_C31-1...,C31-1B-64^2022-01-15,Mensualidad Arriendo Inmueble,2022-02-15
5,Mensualidad Arriendo Inmueble^2022-03-15_C31-1...,C31-1B-64^2022-01-15,Mensualidad Arriendo Inmueble,2022-03-15
6,Mensualidad Arriendo Inmueble^2022-01-15_K1B-3...,K1B-30-16^2022-01-31,Mensualidad Arriendo Inmueble,2022-01-15
7,Mensualidad Arriendo Inmueble^2022-01-31_K1B-3...,K1B-30-16^2022-01-31,Mensualidad Arriendo Inmueble,2022-01-31
8,Mensualidad Arriendo Inmueble^2022-02-28_K1B-3...,K1B-30-16^2022-01-31,Mensualidad Arriendo Inmueble,2022-02-28
9,Mensualidad Arriendo Inmueble^2022-01-10_C18-1...,C18-1N-33^2022-01-01,Mensualidad Arriendo Inmueble,2022-01-10
10,Mensualidad Arriendo Inmueble^2022-02-01_C18-1...,C18-1N-33^2022-01-01,Mensualidad Arriendo Inmueble,2022-02-01
11,Mensualidad Arriendo Inmueble^2022-03-01_C18-1...,C18-1N-33^2022-01-01,Mensualidad Arriendo Inmueble,2022-03-01
12,Mensualidad Arriendo Inmueble^2022-02-05_A6N-1...,A6N-13N-62-S110^2022-01-30,Mensualidad Arriendo Inmueble,2022-02-05
13,Mensualidad Arriendo Inmueble^2022-02-28_A6N-1...,A6N-13N-62-S110^2022-01-30,Mensualidad Arriendo Inmueble,2022-02-28

In [8]:
ledger = pd.DataFrame(Ledger.objects.all().values()).drop(['state_change_user_id', 'state_change_date', 'state'], axis=1)
ledger

,code,type_id,consecutive,description,holder_id,third_party_id,date
0,FV-00000001,Factura de Venta,1,None,6108014,900244841,2022-01-01
1,FV-00000002,Factura de Venta,2,None,6108014,890328485,2022-01-10
2,FV-00000003,Factura de Venta,3,None,6108014,901012767,2022-01-15
3,FV-00000004,Factura de Venta,4,None,6108014,900087432,2022-01-15
4,FV-00000005,Factura de Venta,5,None,6108014,900087432,2022-01-31
5,FV-00000006,Factura de Venta,6,None,6108014,900244841,2022-02-01
6,FV-00000007,Factura de Venta,7,None,6108014,890328485,2022-02-01
7,FV-00000008,Factura de Venta,8,None,6108014,19160350,2022-02-05
8,FV-00000009,Factura de Venta,9,None,6108014,901012767,2022-02-15
9,FV-00000010,Factura de Venta,10,None,6108014,900087432,2022-02-28
10,FV-00000011,Factura de Venta,11,None,6108014,19160350,2022-02-28
11,FV-00000012,Factura de Venta,12,None,6108014,900244841,2022-03-01
12,FV-00000013,Factura de Venta,13,None,6108014,890328485,2022-03-01
13,FV-00000014,Factura de Venta,14,None,6108014,901012767,2022-03-15
14,RC-00000001,Recibo de Caja,1,None,6108014,900244841,2022-01-10
15,RC-00000002,Recibo de Caja,2,None,6108014,901012767,2022-01-20
16,RC-00000003,Recibo de Caja,3,None,6108014,900087432,2022-01-20
17,RC-00000004,Recibo de Caja,4,None,6108014,900244841,2022-01-25
18,RC-00000005,Recibo de Caja,5,None,6108014,900087432,2022-02-05
19,RC-00000006,Recibo de Caja,6,None,6108014,890328485,2022-02-10
20,RC-00000007,Recibo de Caja,7,None,6108014,19160350,2022-02-10
21,RC-00000008,Recibo de Caja,8,None,6108014,900244841,2022-02-20
22,RC-00000009,Recibo de Caja,9,None,6108014,901012767,2022-02-20
23,RC-00000010,Recibo de Caja,10,None,6108014,900087432,2022-03-05
24,RC-00000011,Recibo de Caja,11,None,6108014,900244841,2022-03-10
25,RC-00000012,Recibo de Caja,12,None,6108014,19160350,2022-03-10
26,RC-00000013,Recibo de Caja,13,None,6108014,890328485,2022-03-15
27,RC-00000014,Recibo de Caja,14,None,6108014,901012767,2022-03-20
28,FV-00000015,Factura de Venta,15,,6108014,900346960,2022-01-01
29,FV-00000016,Factura de Venta,16,,6108014,900087432,2021-01-01
30,FV-00000017,Factura de Venta,17,,6108014,900087432,2021-01-01
31,FV-00000018,Factura de Venta,18,,6108014,901012053,2021-01-01
32,FV-00000019,Factura de Venta,19,,6108014,901012053,2021-01-01

In [54]:
register = charges.join(concepts.set_index('code'), on='concept_id').join(ledgers.set_index('code'), on='ledger_id', lsuffix='_concept')
register

,id,ledger_id,account_id,value,concept_id,settled,accountable_id,transaction_type_id,date_concept,type_id,consecutive,description,holder_id,third_party_id,date
0,1,FV-00000001,13802005,1500000,Mensualidad Arriendo Inmueble^2022-01-01_K2C-3...,False,K2C-30-15-B3^2022-01-01,Mensualidad Arriendo Inmueble,2022-01-01,Factura de Venta,1,None,6108014,900244841,2022-01-01
1,2,FV-00000001,13802010,285000,Mensualidad Arriendo Inmueble^2022-01-01_K2C-3...,False,K2C-30-15-B3^2022-01-01,Mensualidad Arriendo Inmueble,2022-01-01,Factura de Venta,1,None,6108014,900244841,2022-01-01
2,3,FV-00000001,240810,-285000,Mensualidad Arriendo Inmueble^2022-01-01_K2C-3...,False,K2C-30-15-B3^2022-01-01,Mensualidad Arriendo Inmueble,2022-01-01,Factura de Venta,1,None,6108014,900244841,2022-01-01
3,4,FV-00000001,913005,-1500000,Mensualidad Arriendo Inmueble^2022-01-01_K2C-3...,False,K2C-30-15-B3^2022-01-01,Mensualidad Arriendo Inmueble,2022-01-01,Factura de Venta,1,None,6108014,900244841,2022-01-01
4,5,FV-00000002,13802005,709677,Mensualidad Arriendo Inmueble^2022-01-10_C18-1...,False,C18-1N-33^2022-01-01,Mensualidad Arriendo Inmueble,2022-01-10,Factura de Venta,2,None,6108014,890328485,2022-01-10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
136,137,RC-00000014,13802010,-380000,Mensualidad Arriendo Inmueble^2022-03-15_C31-1...,False,C31-1B-64^2022-01-15,Mensualidad Arriendo Inmueble,2022-03-15,Recibo de Caja,14,None,6108014,901012767,2022-03-20
137,138,RC-00000014,913005,2000000,Mensualidad Arriendo Inmueble^2022-03-15_C31-1...,False,C31-1B-64^2022-01-15,Mensualidad Arriendo Inmueble,2022-03-15,Recibo de Caja,14,None,6108014,901012767,2022-03-20
138,139,RC-00000014,28150505,-1930000,Mensualidad Arriendo Inmueble^2022-03-15_C31-1...,False,C31-1B-64^2022-01-15,Mensualidad Arriendo Inmueble,2022-03-15,Recibo de Caja,14,None,6108014,901012767,2022-03-20
139,140,RC-00000014,839530,70000,Mensualidad Arriendo Inmueble^2022-03-15_C31-1...,False,C31-1B-64^2022-01-15,Mensualidad Arriendo Inmueble,2022-03-15,Recibo de Caja,14,None,6108014,901012767,2022-03-20
140,141,RC-00000014,93950505,-70000,Mensualidad Arriendo Inmueble^2022-03-15_C31-1...,False,C31-1B-64^2022-01-15,Mensualidad Arriendo Inmueble,2022-03-15,Recibo de Caja,14,None,6108014,901012767,2022-03-20

In [55]:
register = register.drop(['concept_id', 'id', 'settled', 'type_id', 'consecutive', 'description', 'holder_id'], axis=1)
register = register[['ledger_id', 'date', 'accountable_id', 'third_party_id', 'transaction_type_id', 'date_concept', 'account_id', 'value']]
register

,ledger_id,date,accountable_id,third_party_id,transaction_type_id,date_concept,account_id,value
0,FV-00000001,2022-01-01,K2C-30-15-B3^2022-01-01,900244841,Mensualidad Arriendo Inmueble,2022-01-01,13802005,1500000
1,FV-00000001,2022-01-01,K2C-30-15-B3^2022-01-01,900244841,Mensualidad Arriendo Inmueble,2022-01-01,13802010,285000
2,FV-00000001,2022-01-01,K2C-30-15-B3^2022-01-01,900244841,Mensualidad Arriendo Inmueble,2022-01-01,240810,-285000
3,FV-00000001,2022-01-01,K2C-30-15-B3^2022-01-01,900244841,Mensualidad Arriendo Inmueble,2022-01-01,913005,-1500000
4,FV-00000002,2022-01-10,C18-1N-33^2022-01-01,890328485,Mensualidad Arriendo Inmueble,2022-01-10,13802005,709677
...,...,...,...,...,...,...,...,...
136,RC-00000014,2022-03-20,C31-1B-64^2022-01-15,901012767,Mensualidad Arriendo Inmueble,2022-03-15,13802010,-380000
137,RC-00000014,2022-03-20,C31-1B-64^2022-01-15,901012767,Mensualidad Arriendo Inmueble,2022-03-15,913005,2000000
138,RC-00000014,2022-03-20,C31-1B-64^2022-01-15,901012767,Mensualidad Arriendo Inmueble,2022-03-15,28150505,-1930000
139,RC-00000014,2022-03-20,C31-1B-64^2022-01-15,901012767,Mensualidad Arriendo Inmueble,2022-03-15,839530,70000
140,RC-00000014,2022-03-20,C31-1B-64^2022-01-15,901012767,Mensualidad Arriendo Inmueble,2022-03-15,93950505,-70000

In [3]:
df.to_csv(jpath(BASE_DIR,'_files/exports/charges_exp.csv'))

In [4]:
Lease_Realty.objects.all()[0].leases_realties_people.all().filter(role=1)

In [1]:
from adin.utils.date_progression import previousmonthlydate, nextmonthlydate, previousyearlydate, nextyearlydate

Lease_Realty.objects.all()[2].date_value_dict()

{datetime.date(2022, 1, 15): 1548387.0,
 datetime.date(2022, 1, 31): 3000000.0,
 datetime.date(2022, 2, 28): 3000000.0,
 datetime.date(2022, 3, 31): 3000000.0}

In [2]:
Person.objects.all()[0].leases_realties.all()

In [9]:
Person.objects.all()[0].estates.all()

<QuerySet [<Estate: A6N-13N-62>, <Estate: C18-1N-39>, <Estate: K2C-30-3>, <Estate: K1B-30-76>, <Estate: C31-1B-34>, <Estate: K2C-29-36>, <Estate: A11N-7N-201-A103>, <Estate: A11N-7N-201-P28>, <Estate: A11N-7N-201-P29>, <Estate: A11N-7N-201-P61>, <Estate: A11N-7N-201-D22>]>

In [11]:
Estate.objects.all()[0].realties.all()

<QuerySet [<Estate_Person: A6N-13N-62-O1>, <Estate_Person: A6N-13N-62-S101>, <Estate_Person: A6N-13N-62-S102>, <Estate_Person: A6N-13N-62-S103>, <Estate_Person: A6N-13N-62-S104>, <Estate_Person: A6N-13N-62-S105>, <Estate_Person: A6N-13N-62-S106>, <Estate_Person: A6N-13N-62-S107>, <Estate_Person: A6N-13N-62-S108>, <Estate_Person: A6N-13N-62-S109>, <Estate_Person: A6N-13N-62-S110>, <Estate_Person: A6N-13N-62-S111>, <Estate_Person: A6N-13N-62-S112>, <Estate_Person: A6N-13N-62-S114>, <Estate_Person: A6N-13N-62-S201>, <Estate_Person: A6N-13N-62-S202>, <Estate_Person: A6N-13N-62-S203>, <Estate_Person: A6N-13N-62-S204>, <Estate_Person: A6N-13N-62-S205>, <Estate_Person: A6N-13N-62-S206>, '...(remaining elements truncated)...']>

In [5]:
Realty.objects.all()[10].leases_realties.all()

In [1]:
ledger = get_ledger()
ledger = ledger.assign(**{f'level{level+1}': code for level, code in ledger.account.apply(lambda x: Account_Structure.levels(x)).items()})
ledger = ledger.assign(debit = ledger.value.apply(lambda x: x if x > 0 else 0), credit = ledger.value.apply(lambda x: x if x < 0 else 0))
ledger

,ledger,account,value,concept,accountable,transaction_type,date_concept,type,holder,third_party,date,level1,level2,level3,level4,level5,level6,nature
0,FV-00000001,240810,-285000,Mensualidad Arriendo Inmueble^2022-01-01_K2C-3...,K2C-30-15-B3^2022-01-01,Mensualidad Arriendo Inmueble,2022-01-01,Factura de Venta,6108014,900244841,2022-01-01,2,24,2408,240810,None,None,credit
1,FV-00000002,240810,-134839,Mensualidad Arriendo Inmueble^2022-01-10_C18-1...,C18-1N-33^2022-01-01,Mensualidad Arriendo Inmueble,2022-01-10,Factura de Venta,6108014,890328485,2022-01-10,2,24,2408,240810,None,None,credit
2,FV-00000003,240810,-380000,Mensualidad Arriendo Inmueble^2022-01-15_C31-1...,C31-1B-64^2022-01-15,Mensualidad Arriendo Inmueble,2022-01-15,Factura de Venta,6108014,901012767,2022-01-15,2,24,2408,240810,None,None,credit
3,FV-00000004,240810,-304000,Mensualidad Arriendo Inmueble^2022-01-15_K1B-3...,K1B-30-16^2022-01-31,Mensualidad Arriendo Inmueble,2022-01-15,Factura de Venta,6108014,900087432,2022-01-15,2,24,2408,240810,None,None,credit
4,FV-00000005,240810,-570000,Mensualidad Arriendo Inmueble^2022-01-31_K1B-3...,K1B-30-16^2022-01-31,Mensualidad Arriendo Inmueble,2022-01-31,Factura de Venta,6108014,900087432,2022-01-31,2,24,2408,240810,None,None,credit
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
136,RC-00000005,93950505,-105000,Mensualidad Arriendo Inmueble^2022-01-31_K1B-3...,K1B-30-16^2022-01-31,Mensualidad Arriendo Inmueble,2022-01-31,Recibo de Caja,6108014,900087432,2022-02-05,9,93,9395,939505,93950505,None,credit
137,RC-00000009,93950505,-70000,Mensualidad Arriendo Inmueble^2022-02-15_C31-1...,C31-1B-64^2022-01-15,Mensualidad Arriendo Inmueble,2022-02-15,Recibo de Caja,6108014,901012767,2022-02-20,9,93,9395,939505,93950505,None,credit
138,RC-00000010,93950505,-105000,Mensualidad Arriendo Inmueble^2022-02-28_K1B-3...,K1B-30-16^2022-01-31,Mensualidad Arriendo Inmueble,2022-02-28,Recibo de Caja,6108014,900087432,2022-03-05,9,93,9395,939505,93950505,None,credit
139,RC-00000011,93950505,-52500,Mensualidad Arriendo Inmueble^2022-02-01_K2C-3...,K2C-30-15-B3^2022-01-01,Mensualidad Arriendo Inmueble,2022-02-01,Recibo de Caja,6108014,900244841,2022-03-10,9,93,9395,939505,93950505,None,credit
140,RC-00000014,93950505,-70000,Mensualidad Arriendo Inmueble^2022-03-15_C31-1...,C31-1B-64^2022-01-15,Mensualidad Arriendo Inmueble,2022-03-15,Recibo de Caja,6108014,901012767,2022-03-20,9,93,9395,939505,93950505,None,credit

In [2]:
total_balance(ledger, ['level2', 'nature'])

               total balance
level2 nature
11     debit        22656309
13     credit      -23237309
       debit        25677309
24     credit       -3953839
28     credit      -18892470
83     debit          581000
91     credit      -21723470
       debit        19473470
93     credit        -581000