In [2]:
import os
from os.path import join
from adin.settings import BASE_DIR

os.environ["DJANGO_ALLOW_ASYNC_UNSAFE"] = "true"

In [4]:
objs=pd.DataFrame(Person.objects.values()).drop(['state_change_user_id', 'state_change_date', 'state'], axis=1)
objs

,id_number,id_type,type,name,complete_name
0,14440244,0,0,Campo Ramiro,"Acosta Burgos, Campo Ramiro"
1,16375922,0,0,Javier Alberto,"Acosta González, Javier Alberto"
2,900244841,1,1,Actividades Textiles,Actividades Textiles S.A.S.
3,31202432,0,0,María Teresa,"Agudelo Velez, María Teresa"
4,94459724,0,0,Edison,"Aguiño Mosquera, Edison"
...,...,...,...,...,...
222,1144172037,0,0,José Miguel,"Velazco Renza, José Miguel"
223,1193172681,0,0,Jean Carlos,"Vernansa Aragon, Jean Carlos"
224,16700013,0,0,Gonzalo,"Villegas Aristizábal, Gonzalo"
225,16355941,0,0,Alberto Javier,"Vélez Mesa, Alberto Javier"
226,1107086162,0,0,Valentina,"Ávila Moreno, Valentina"

In [5]:
objs1=objs.assign(errors=objs.id_number.apply(lambda x: Person.objects.get(pk=x).get_obj_errors()))
objs1

,id_number,id_type,type,name,complete_name,errors
0,14440244,0,0,Campo Ramiro,"Acosta Burgos, Campo Ramiro","[11, 22, 20]"
1,16375922,0,0,Javier Alberto,"Acosta González, Javier Alberto","[11, 22, 20]"
2,900244841,1,1,Actividades Textiles,Actividades Textiles S.A.S.,"[16, 17, 27, 28, 29]"
3,31202432,0,0,María Teresa,"Agudelo Velez, María Teresa","[11, 22, 20]"
4,94459724,0,0,Edison,"Aguiño Mosquera, Edison",[]
...,...,...,...,...,...,...
222,1144172037,0,0,José Miguel,"Velazco Renza, José Miguel","[11, 22, 20]"
223,1193172681,0,0,Jean Carlos,"Vernansa Aragon, Jean Carlos","[22, 26]"
224,16700013,0,0,Gonzalo,"Villegas Aristizábal, Gonzalo","[11, 22, 20]"
225,16355941,0,0,Alberto Javier,"Vélez Mesa, Alberto Javier","[11, 22, 20]"
226,1107086162,0,0,Valentina,"Ávila Moreno, Valentina","[11, 22, 20]"

In [6]:
objs1.to_csv(join(BASE_DIR, f'_files/reports/{datetime.date.today().strftime("%Y-%m-%d")}_person_errors.csv'), float_format='%.0f', na_rep=None, index=False)

In [5]:
obj=pd.DataFrame(Phone.objects.filter(pk='+57 2 5546462').values())
obj

,state_change_user_id,state_change_date,state,code,type,country,region,number
0,1,2022-07-28 19:59:24.447006+00:00,1,+57 2 5546462,0,57,2,5546462

In [3]:
for item in Person.objects.all():
    print((item, item.get_obj_errors()))

(<Person: Acosta Burgos, Campo Ramiro>, [11, 22, 20])
(<Person: Acosta González, Javier Alberto>, [11, 22, 20])
(<Person: Actividades Textiles S.A.S.>, [16, 17, 27, 28, 29])
(<Person: Agudelo Velez, María Teresa>, [11, 22, 20])
(<Person: Aguiño Mosquera, Edison>, [])
(<Person: Alimentos Carnicos S.A.S.>, [16, 17, 27, 28, 29])
(<Person: Alimentos Carnicos S.A.S.>, [17, 28, 29, 20])
(<Person: Amaya Guzman, Diego Fernando>, [11, 22, 20])
(<Person: Andiplast Envases S.A.S.>, [16, 17, 27, 28, 29])
(<Person: Arango Monsalve, Yenny Coromoto>, [11, 22, 20])
(<Person: Arango de Vernaza, Miryan>, [11, 22, 20])
(<Person: Arbelaez Ceballos, Luis Alberto>, [20])
(<Person: Arias Murillo, Víctor Hugo>, [11, 22, 20])
(<Person: Arquimaderas S.A.S.>, [17, 27, 28, 29, 20])
(<Person: Arévalo Páez, Enrique>, [11, 22, 20])
(<Person: Asoboce S.A.S.>, [16, 17, 27, 28, 29])
(<Person: Ballesteros Gallego, Clara Tatiana>, [11, 22, 20])
(<Person: Baloco, Livio>, [11, 22, 20])
(<Person: Beltran Chaves, Alvaro>, [])
(<Person: Bio Ambar S.A.S.>, [17, 28, 29, 20])
(<Person: Buitrago Poveda, Miguel Angel>, [22, 26])
(<Person: Cadena Gaviria, Dagoberto>, [11, 22, 20])
(<Person: Caicedo Matato, Liz Deny>, [22, 20])
(<Person: Caiza Calderon, Fernando Ramiro>, [22, 26])
(<Person: Calderon Lozano, María Edilma>, [11, 22, 20])
(<Person: Camayo Martinez, Carlos Andrés>, [11, 22, 20])
(<Person: Campo Garcia, Lina Ginnery>, [22, 26])
(<Person: Campo Méndez, Javier Emilio>, [11, 22, 20])
(<Person: Campo Penagos, Alfredo>, [11, 22, 20])
(<Person: Carabalí Loboa, Yennyfeer>, [11, 22, 20])
(<Person: Cardona Serrano, Jose Leimar>, [22, 26])
(<Person: Carreño Ávila, Justin>, [11, 22, 20])
(<Person: Castañeda Anacona, Paola Alexandra>, [22, 26])
(<Person: Castaño Belalcázar, Claudia Isabeth>, [11, 22, 20])
(<Person: Castro Gómez, Jose Herminsul>, [11, 22, 20])
(<Person: Castro Ramirez, Robert>, [22, 20])
(<Person: Ceballos Gallo, Luis Alberto>, [11, 22, 20])
(<Person: Ceballos Lopez, Claudia Patricia>, [22, 26])
(<Person: Ceballos López, Juan Carlos>, [11, 22, 20])
(<Person: Chávez Aragón, Gloria Esperanza>, [11, 22, 20])
(<Person: Cocoambiental S.A.S.>, [16, 17, 27, 28, 29])
(<Person: Collazos Burbano, Carlos Alirio>, [11, 22, 20])
(<Person: Comercializadora Omega LTDA.>, [17, 28, 29, 20])
(<Person: Coragro S.A.>, [17, 28, 14, 29, 20])
(<Person: Cordoba Ramos, Jose Samuel>, [11, 22, 20])
(<Person: Cordoba Salas, Nayza Julieth>, [22, 26])
(<Person: Corkide de Ackerman, Gracia>, [11, 22, 20])
(<Person: Corkidi Cardenas, Karen>, [11, 22, 20])
(<Person: Corkidi Cardenas, León>, [20])
(<Person: Corkidi Tzuckerman, León>, [])
(<Person: Corkidi Tzuckerman, Yehiel>, [20])
(<Person: Corkidi Yaffe, Alberto>, [11, 22, 20])
(<Person: Corkidi Yaffe, Isidoro>, [11, 22, 20])
(<Person: Cortes Chamorro, Maria Elena>, [11, 22, 20])
(<Person: Cortes Prieto, Alejandro>, [11, 22, 20])
(<Person: Datecsa S.A.>, [17, 27, 28, 14, 29, 20])
(<Person: Del Corte Mobiliari S.A.S.>, [16, 17, 27, 28, 29])
(<Person: Delgado Quintero, Patricia>, [11, 22, 20])
(<Person: Diaz Padilla, Edgar Emilio>, [11, 22, 20])
(<Person: Diesel Lujo Ferreteria Al Costo S.A.S.>, [17, 27, 28, 29, 20])
(<Person: Distriferretera de Colombia S.A.S.>, [17, 28, 29, 20])
(<Person: Dixon Palau, Carlos Rodrigo>, [11, 22, 20])
(<Person: Dixon Palau, Cynthia>, [11, 22, 20])
(<Person: Dominguez Cabal, Alejandro>, [22, 26])
(<Person: Dominguez Plaza, Alfonso>, [11, 22, 20])
(<Person: Díaz Hernández, Ferenc>, [11, 22, 20])
(<Person: Díaz Mejía, Clara Inés>, [22, 26])
(<Person: El Comercio ELectrico LTDA.>, [17, 27, 28, 29, 20])
(<Person: Electo Iluminaciones EH S.A.S.>, [17, 27, 28, 29, 20])
(<Person: Electricos del Valle S.A.>, [17, 27, 28, 14, 29, 20])
(<Person: Escobar Pelaez, Jairo de Jesus>, [22, 26, 20])
(<Person: Escobar, Javier Francisco>, [11, 22, 20])
(<Person: Esguerra Zapata, Francisco Steven>, [11, 22, 20])
(<Person: Ferreteria 5A Norte S.A.S.>, [17, 27, 28, 29, 20])
(<Person: Ferreteria Barbosa y Cia S.A.S.>, [17, 27, 28, 29, 20])
(<Person: Ferreteria Miltialambres S.A.S.>, [17, 27, 28, 29, 20])
(<Person: Ferreteria,Pinturas Y Productos Agropecuarios LTDA.>, [17, 28, 29, 20])
(<Person: Ferretornillos Arlex S.A.S.>, [17, 27, 28, 29, 20])
(<Person: Frenos y Direcciones Valencia D.Y Cia LTDA.>, [17, 28, 29, 20])
(<Person: Gamboa Morales, John Henry>, [11, 22, 20])
(<Person: Garcia Calero, Rosa Helena>, [11, 22, 20])
(<Person: Garcia Quijano, Carlos Arturo>, [11, 22, 20])
(<Person: García, Maritza Ines>, [11, 22, 20])
(<Person: García, Maritza Inés>, [11, 22, 20])
(<Person: Giraldo Montaño, Nicolas>, [22, 26])
(<Person: Global Tennis S.A.S.>, [16, 17, 27, 28, 29])
(<Person: Gomez Gomez, Alejandro>, [11, 22, 20])
(<Person: Gonzalez Ramirea, Adriana Beatriz>, [22, 26])
(<Person: González Torres, Claudia Nataly>, [11, 22, 20])
(<Person: Granados de Andrade, Cielo>, [11, 22, 20])
(<Person: Granados de Andrade, Cielo>, [11, 22, 20])
(<Person: Granos y Proteinas S.A.S.>, [16, 17, 27, 28, 29])
(<Person: Grupo Empresarial Silver S.A.S.>, [17, 27, 28, 29, 20])
(<Person: Guzman Moreno, Alfonso Eleazar>, [11, 22, 20])
(<Person: Guzmán Osuna, Gladys>, [11, 22, 20])
(<Person: Gómez García, Roger>, [11, 22, 20])
(<Person: Gómez López, Juan Sebastian>, [11, 22, 20])
(<Person: Gómez Medina, Rodrigo>, [11, 22, 20])
(<Person: Gómez Piedrahita, Gilbert Mauricio>, [22])
(<Person: Gómez Rodríguez, Jhon Jairo>, [11, 22, 20])
(<Person: Gómez Rodríguez, Luis Felipe>, [11, 22, 20])
(<Person: Gómez Salazar, Carlos Andrés>, [11, 22, 20])
(<Person: Gómez Salazar, Xiomara Esther>, [11, 22, 20])
(<Person: Gómez Tabares, Jorge Enrique>, [11, 22, 20])
(<Person: Góngora Castañeda, Stella>, [11, 22, 20])
(<Person: Herrera Montes, Alberto>, [11, 22, 20])
(<Person: Herrera Rueda, Fabiola>, [11, 20])
(<Person: Hurtado Rojas, Mariella>, [22, 26])
(<Person: Hurtado Sanchez, Jesus>, [11, 22, 20])
(<Person: Hurtado Sanchez, Jesús>, [11, 22, 20])
(<Person: Hurtado Sánchez, Uriel>, [22, 20])
(<Person: Ingeideas Laser S.A.S.>, [17, 28, 29, 20])
(<Person: Innovaciones Plasticas S.A.S.>, [16, 17, 27, 28, 29])
(<Person: Jaramillo Mejia, Gustavo Alberto>, [11, 22, 20])
(<Person: Jaramillo Ospina, Bertulfo>, [22, 20])
(<Person: Jaramillo Pulgarín, Luis Jairo>, [11, 22, 20])
(<Person: Jiménez de Pérez, Consuelo>, [11, 22, 20])
(<Person: La Bodeguita Cotic S.A.S.>, [17, 27, 28, 29, 20])
(<Person: Largacha de Mazuera, Blanca Olivia>, [11, 22, 20])
(<Person: Lema Tasama, Aura Camila>, [22])
(<Person: Lerma Manrique, Heber>, [11, 22, 20])
(<Person: Lerma Manrique, Luz Yaneth>, [22])
(<Person: Lerma Palomino, Kerlyn>, [11, 22, 20])
(<Person: Loaiza Largo, Carmen Lucrecia>, [22, 26])
(<Person: Loaiza Largo, Carmen Lucrecia>, [11, 22, 20])
(<Person: Lombana Solarte, Ulises>, [11, 22, 20])
(<Person: Londoño, Julio Cesar>, [11, 22, 20])
(<Person: Lopez Rizo, Marconi>, [11, 22, 20])
(<Person: Lopez Sevillno, Elsa>, [11, 22, 20])
(<Person: Lopez Sevillno, Jacqueline>, [11, 22, 20])
(<Person: Los Alamillos S.A.>, [17, 28, 14, 29, 20])
(<Person: Lozano Guzman, Yessica Lorena>, [22, 26])
(<Person: López Sevillano, Amparo>, [11, 22, 20])
(<Person: López Sevillano, Soraya>, [11, 22, 20])
(<Person: Maestri Lanzarotti, Gino>, [11, 22, 20])
(<Person: Maquinpro de Colombia S.A.S.>, [16, 17, 27, 28, 29])
(<Person: Martínez Forero, Silvia Maria>, [11, 22, 20])
(<Person: Maya Osorio, Carlos Alberto>, [11, 22, 20])
(<Person: Maya Osorio, Carlos Alberto>, [11, 22, 20])
(<Person: Mejia Mejia, Hernan>, [22, 20])
(<Person: Mejía García, Maria Inés>, [11, 22, 20])
(<Person: Mejía de Becerra, Amparo>, [11, 22, 20])
(<Person: Mena Lopez, Alexandra>, [11, 22, 20])
(<Person: Mondragón Garzon, Ruby>, [11, 22, 20])
(<Person: Mondragón Garzón, Ruby>, [11, 22, 20])
(<Person: Monsalve Peña, John Jaime>, [22])
(<Person: Montaña Mendez, Carlos Fernando>, [11, 22, 20])
(<Person: Montaña Méndez, Ayde Alejandra>, [11, 22, 20])
(<Person: Moreno Sarmiento, Amparo>, [11, 22, 20])
(<Person: Mosquera Palacios, Maximino>, [11, 22, 20])
(<Person: Mosquera Perea, Joseny Marcela>, [22, 26])
(<Person: Mosquera, José Mercedes>, [11, 22, 20])
(<Person: Mulplast S.A.S.>, [16, 17, 27, 28, 29])
(<Person: Naranjo Arias, Argenis>, [11, 22, 20])
(<Person: Nieto Meneses, Jeyer Armando>, [11, 22, 20])
(<Person: Nieto Molina, Aldenovan>, [11, 22, 20])
(<Person: Niño Suarez, Rosa Elvira>, [11, 22, 20])
(<Person: Nuñez Florez, Pedro>, [22])
(<Person: Oca Motato, Leydy Diana>, [22, 26])
(<Person: Orejuela de Mazuera, Aide>, [11, 22, 20])
(<Person: Orozco Baeza, Ricardo>, [11, 22, 20])
(<Person: Orozco Restrepo, Rene Antonio>, [11, 22, 20])
(<Person: Ortiz Grajales, Orlando de Jesus>, [22, 20])
(<Person: Ortiz Peñaranda, Yenny>, [11, 22, 20])
(<Person: Ortiz de Guzmán, Gloria>, [11, 22, 20])
(<Person: Osorio Márquez, Andrea>, [11, 22, 20])
(<Person: Osorio Salazar, Gabriel>, [11, 22, 20])
(<Person: Osorio, Juan Manuel>, [11, 22, 20])
(<Person: Ospina Silva, Aimer>, [11, 22, 20])
(<Person: Ospina, Alexander de Jesús>, [11, 22, 20])
(<Person: O´Celeste S.A.S.>, [16, 17, 28, 29, 20])
(<Person: Pabon Pabon, Alix Carolina>, [11, 22, 20])
(<Person: Palacios Hinestroza, Eleuterio>, [11, 20])
(<Person: Palacios Palacios, Eimar Ferney>, [11, 22, 20])
(<Person: Palmiplast Industrias S.A.S.>, [16, 17, 27, 28, 29])
(<Person: Patiño Cruz, Elena>, [11, 20])
(<Person: Perea Perea, Wiston Mario>, [11, 22, 20])
(<Person: Perez Jimenez, Juliana>, [11, 22, 20])
(<Person: Pernia Rodriguez, Jonathan>, [11, 22, 20])
(<Person: Peña Rojas, Angélica>, [11, 22, 20])
(<Person: Porras Mondragon, Alba Ruth>, [22, 26])
(<Person: Prieto Duarte, Octavio>, [22])
(<Person: Prodeplasticos S.A.S.>, [16, 17, 27, 28, 29])
(<Person: Productos de Caucho y Lona S.A.S.>, [16, 17, 27, 28, 29])
(<Person: Pulgarín Jaramillo, Julia Mary>, [11, 22, 20])
(<Person: QW Health de Colombia S.A.S.>, [16, 17, 27, 28, 29])
(<Person: Quintero Rodríguez, Graciela>, [11, 22, 20])
(<Person: Quintero Salazar, Natalia>, [22, 26])
(<Person: ROR Ingenieria S.A.S.>, [16, 17, 27, 28, 29])
(<Person: Ramírez Ariza, Cesar Augusto>, [11, 22, 20])
(<Person: Ramírez López, Daniela>, [11, 22, 20])
(<Person: Ramírez, Eugenio Enrique>, [11, 22, 20])
(<Person: Representaciones Especiales LTDA.>, [16, 17, 27, 28, 29])
(<Person: Rivas Lerma, Eliel Josue>, [22])
(<Person: Rivera Becerra, Eloin>, [11, 22, 20])
(<Person: Rojas Torres, Ricardo>, [11, 22, 20])
(<Person: Ruiz Andrade, Natalia>, [22, 26])
(<Person: Ruiz Carvajal, Andres Felipe>, [11, 22, 20])
(<Person: Sanchez Valencia, Leonor>, [11, 22, 20])
(<Person: Sanchez Valencia, Marina>, [22, 26, 20])
(<Person: Sanz Hernandez, Libia Yaneth>, [11, 22, 20])
(<Person: Sepia Arte y Diseño S.A.S.>, [27, 28, 29])
(<Person: Sevillano Mesa, María Olave>, [11, 22, 20])
(<Person: Sierro Murillo, Carlos Alberto>, [11, 22, 20])
(<Person: Silva Riaños, Luis Fernando>, [])
(<Person: Someda Intagrated S.A.S.>, [16, 17, 27, 28, 29])
(<Person: Suarez Ovalle, Edgar Alonso>, [11, 22, 20])
(<Person: Tasama García, Magnolia>, [11, 22, 20])
(<Person: Tasamá García, Mariela>, [11, 22, 20])

(<Person: Tascon Ospina, Fernando>, [11, 22, 20])
(<Person: Tonuzco, Carlos Andres>, [11, 22, 20])
(<Person: Transporte Carlos A. Collazos S.A.S.>, [17, 28, 29, 20])
(<Person: Tzuckerman Pellman, Esther>, [20])
(<Person: Uniescolar Papeleria LTDA.>, [17, 27, 28, 29, 20])
(<Person: Universal de Aceros y Trifilados S.A.S.>, [16, 17, 27, 28, 29])
(<Person: Uribe Trujillo, Derly>, [11, 22, 20])
(<Person: Uribe Trujillo, Nelsy>, [11, 22, 20])
(<Person: Valencia Castillo, Mayeline>, [11, 22, 20])
(<Person: Valencia Duque, Marleny>, [11, 22, 20])
(<Person: Vargas Mosquera, Javier>, [11, 22, 20])
(<Person: Velasco Lloreda, Alvaro Jose>, [11, 22, 20])
(<Person: Velazco Morales, José>, [11, 22, 20])
(<Person: Velazco Renza, José Miguel>, [11, 22, 20])
(<Person: Vernansa Aragon, Jean Carlos>, [22, 26])
(<Person: Villegas Aristizábal, Gonzalo>, [11, 22, 20])
(<Person: Vélez Mesa, Alberto Javier>, [11, 22, 20])
(<Person: Ávila Moreno, Valentina>, [11, 22, 20])