In [1]:
import os
import csv
import adin.settings as st
from IPython.display import display
from references.forms.address_forms import AddressCreateModelForm
from os.path import join
from adin.settings import BASE_DIR

from scripts.utils import m2m_info, m2m_load, m2m_backup

os.environ["DJANGO_ALLOW_ASYNC_UNSAFE"] = "true"

In [3]:
estates=pd.DataFrame(Estate.objects.values('national_number', 'address_id', 'total_area'))
estates

                   national_number        address_id  total_area
0   760010100020700370004000000004        A6N-13N-62      2107.0
1   760010100031300020001000000001         C18-1N-39      2398.0
2   760010100040200230001000000001          K2C-30-3      7164.0
3   760010100040200230002000000002         K1B-30-76      1135.0
4   760010100040200230003000000003         C31-1B-34       441.0
5   760010100040200230004000000004         C31-1B-54       362.0
6   760010100040200230005000000005         C31-1B-64       375.0
7   760010100040200230006000000006         K2C-30-29       306.0
8   760010100040100050006000000006         K2C-29-36       303.0
9   760010100041700100010000000010          K1-35-29      1077.0
10  760010100020500040007900030133  A11N-7N-201-A103       246.0
11  760010100020500040007900030058   A11N-7N-201-P28         NaN
12  760010100020500040007900030059   A11N-7N-201-P29         NaN
13  760010100020500040007900030091   A11N-7N-201-P61         NaN
14  760010100020500040007900030126   A11N-7N-201-D22         NaN
15  760010100020300030004900020037    C3O-2-140-A301         NaN
16  760010100020300030004900020032     C3O-2-136-P14         NaN

In [5]:
estates1=estates.assign(errors=estates.national_number.apply(lambda x: Estate.objects.get(pk=x).get_obj_errors()))
estates1

                   national_number        address_id  total_area errors
0   760010100020700370004000000004        A6N-13N-62      2107.0     []
1   760010100031300020001000000001         C18-1N-39      2398.0     []
2   760010100040200230001000000001          K2C-30-3      7164.0     []
3   760010100040200230002000000002         K1B-30-76      1135.0     []
4   760010100040200230003000000003         C31-1B-34       441.0     []
5   760010100040200230004000000004         C31-1B-54       362.0     []
6   760010100040200230005000000005         C31-1B-64       375.0     []
7   760010100040200230006000000006         K2C-30-29       306.0     []
8   760010100040100050006000000006         K2C-29-36       303.0     []
9   760010100041700100010000000010          K1-35-29      1077.0     []
10  760010100020500040007900030133  A11N-7N-201-A103       246.0     []
11  760010100020500040007900030058   A11N-7N-201-P28         NaN   [35]
12  760010100020500040007900030059   A11N-7N-201-P29         NaN   [35]
13  760010100020500040007900030091   A11N-7N-201-P61         NaN   [35]
14  760010100020500040007900030126   A11N-7N-201-D22         NaN   [35]
15  760010100020300030004900020037    C3O-2-140-A301         NaN   [35]
16  760010100020300030004900020032     C3O-2-136-P14         NaN   [35]