In [1]:
import os
from os.path import join
from adin.settings import BASE_DIR

os.environ["DJANGO_ALLOW_ASYNC_UNSAFE"] = "true"

In [5]:
df=pd.DataFrame(Lease_Realty.objects.values('pk', 'doc_date'))

In [24]:
df.assign(dates=df.pk.apply(lambda x: [f'{date.strftime("%Y-%m-%d")}' for date in Lease_Realty.objects.get(pk=x).pending_date_values()]))\
    .to_csv(join(BASE_DIR, f'_files/reports/{datetime.date.today().strftime("%Y-%m-%d")}_pending_date_values.csv'), index=False)

In [6]:
df.assign(dates=df.pk.apply(lambda x: Lease_Realty.objects.get(pk=x).pending_date_values()))

,pk,doc_date,dates
0,C18-1N-41^2021-02-01,2021-02-01,[2022-02-01]
1,K1-17-43^2017-07-15,2017-07-15,"[2018-07-15, 2019-07-15, 2020-07-15, 2021-07-15]"
2,K1-17-37^2012-02-01,2012-02-01,"[2013-02-01, 2014-02-01, 2015-02-01, 2016-02-0..."
3,C18-1N-39^2022-03-01,2022-03-01,[]
4,C18-1N-33^2021-10-01,2021-10-01,[]
...,...,...,...
68,A6N-13N-62-S308^2022-03-01,2022-03-01,[]
69,A6N-13N-62-S309^2022-03-01,2022-03-01,[]
70,A6N-13N-62-S311^2021-11-01,2021-11-01,[]
71,A6N-13N-62-S312^2007-06-01,2007-06-01,"[2008-06-01, 2009-06-01, 2010-06-01, 2011-06-0..."
72,A6N-13N-62-S314^2019-06-01,2019-06-01,"[2020-06-01, 2021-06-01, 2022-06-01]"

In [13]:
lr=Lease_Realty.objects.all()[0]
lr.lease_realty_person_set.get(role=1) if lr.lease_realty_person_set.filter(role=1).exists() and lr.lease_realty_person_set.filter(role=1).count()==1 else "None"

'None'

In [29]:
dvs=Lease_Realty.objects.all()[3].pending_date_values()
for dv in dvs:
    print(dv.year)

In [8]:
df2=pd.DataFrame(Lease_Realty.objects.annotate(dates=F('dates_values')).values('pk', 'dates'))
df2

                            pk  dates
0   A6N-13N-62-S101^2021-04-01     43
1   A6N-13N-62-S102^2021-10-01     44
2   A6N-13N-62-S103^2020-06-01     46
3   A6N-13N-62-S104^2021-08-01     45
4   A6N-13N-62-S105^2021-09-01     47
..                         ...    ...
68     K2C-30-15-B2^2019-07-01     21
69     K2C-30-15-B3^2013-06-01     49
70        K2C-30-27^2020-10-01     27
71        K2C-30-29^2019-11-01     26
72        K2C-30-51^2021-12-01     33

[73 rows x 2 columns]

In [10]:
Address(
    state_change_user=User.objects.all()[0],
    code='123456789012345678901234567890123',
    street_type=0,
    street_number=1,
    numeral_number=1,
    height_number=1
).save()

In [2]:
add=Address.objects.get(pk='123456789012345678901234567890123')
add

In [15]:
len(add.code)

33

In [18]:
add.street_type=1
add.save()

In [3]:
add.get_obj_errors()

[46]

In [10]:
[x for x in range(0,len(add.STREET_TYPE_CHOICE))]

[0, 1, 2, 3, 4, 5, 6, 7]