In [1]:
import os
import pandas as pd

os.environ["DJANGO_ALLOW_ASYNC_UNSAFE"] = "true"
jpath = os.path.join
BASEDIR = '/home/leon/projects/adin/'

In [2]:
data_df = pd.read_csv(jpath(BASEDIR, '_files/people_raw.csv'))
data_df

,person_type,name,id_type,id_number,last_name,person_legal_type
0,0,León,0,6108014,Corkidi Tzuckerman,NaN
1,1,Coragro,1,800219204,NaN,0.0
2,0,Alberto,0,19245383,Corkidi Yaffe,NaN
3,0,Isidoro,0,19128434,Corkidi Yaffe,NaN
4,0,Karen,0,67005381,Corkidi Cardenas,NaN
...,...,...,...,...,...,...
83,0,Rene Antonio,0,8276197,Orozco Restrepo,NaN
84,0,Alexandra,0,66679566,Mena Lopez,NaN
85,0,Cynthia,0,52695485,Dixon Palau,NaN
86,0,Jacqueline,0,31889682,Lopez Sevillno,NaN
87,0,Carlos Alberto,0,16761696,Sierro Murillo,NaN

In [3]:
info_df = pd.read_json(jpath(BASEDIR, '_files/people_info.json'))
info_df

,0,1
class,Person_Natural,Person_Legal
include,"[person_type, name, id_number, id_type, last_n...","[person_type, name, id_number, id_type, person..."

In [4]:
for index, row in data_df.iterrows():
    per = eval(f"{info_df.loc['class', row['person_type']]}()")
    for attr in info_df.loc['include', row['person_type']]:
        setattr(per, attr, row[attr])
    per.save()

OperationalError: no such table: people_person