In [1]:
import os
import adin.settings as st
from IPython.display import display

jpath = os.path.join
BASE_DIR = st.BASE_DIR

In [3]:
ledger_groups = ledger.sort_values(['accountable', 'date', 'account'], ascending=[True, True, False])\
        .query('account in [13802005, 13802010]')\
        .groupby('accountable')

for g_name, g_df in ledger_groups:
    print(g_name)
    display(charges_pending(g_df))

A6N-13N-62-S110^2022-01-30

Empty DataFrame
Columns: [ledger, date, third_party, accountable, concept, concept__date, account, value, pending_value]
Index: []

C18-1N-33^2022-01-01

,ledger,date,third_party,accountable,concept,concept__date,account,value,pending_value
45,FV-00000013,2022-03-01,Productos de Caucho y Lona S.A.S.,C18-1N-33^2022-01-01,Mensualidad Arriendo Inmueble,2022-03-01,IVA arriendos inmuebles terceros por cobrar,190000,190000
44,FV-00000013,2022-03-01,Productos de Caucho y Lona S.A.S.,C18-1N-33^2022-01-01,Mensualidad Arriendo Inmueble,2022-03-01,Arriendos inmuebles terceros por cobrar,1000000,1000000

C31-1B-64^2022-01-15

Empty DataFrame
Columns: [ledger, date, third_party, accountable, concept, concept__date, account, value, pending_value]
Index: []

K1B-30-16^2022-01-31

Empty DataFrame
Columns: [ledger, date, third_party, accountable, concept, concept__date, account, value, pending_value]
Index: []

K2C-30-15-B3^2022-01-01

,ledger,date,third_party,accountable,concept,concept__date,account,value,pending_value
40,FV-00000012,2022-03-01,Actividades Textiles S.A.S.,K2C-30-15-B3^2022-01-01,Mensualidad Arriendo Inmueble,2022-03-01,Arriendos inmuebles terceros por cobrar,1500000,1250000

In [2]:
ledger_groups = ledger\
        .sort_values(['accountable', 'date'])\
        .query('account in [913005]')\
        .groupby('accountable')

for g_name, g_df in ledger_groups:
    print(g_name)
    display(charges_pending(g_df, False))

A6N-13N-62-S110^2022-01-30

Empty DataFrame
Columns: [ledger, date, third_party, accountable, concept, concept__date, account, value, pending_value]
Index: []

C18-1N-33^2022-01-01

,ledger,date,third_party,accountable,concept,concept__date,account,value,pending_value
47,FV-00000013,2022-03-01,Productos de Caucho y Lona S.A.S.,C18-1N-33^2022-01-01,Mensualidad Arriendo Inmueble,2022-03-01,Arriendos inmuebles de terceros por recibir,-1000000,1000000

C31-1B-64^2022-01-15

Empty DataFrame
Columns: [ledger, date, third_party, accountable, concept, concept__date, account, value, pending_value]
Index: []

K1B-30-16^2022-01-31

Empty DataFrame
Columns: [ledger, date, third_party, accountable, concept, concept__date, account, value, pending_value]
Index: []

K2C-30-15-B3^2022-01-01

,ledger,date,third_party,accountable,concept,concept__date,account,value,pending_value
43,FV-00000012,2022-03-01,Actividades Textiles S.A.S.,K2C-30-15-B3^2022-01-01,Mensualidad Arriendo Inmueble,2022-03-01,Arriendos inmuebles de terceros por recibir,-1500000,1250000

In [3]:
query = ledger\
        .sort_values(['date'])\
        .query('account in [240810]')        

charges_pending(query, False)

,ledger,date,third_party,accountable,concept,concept__date,account,value,pending_value
2,FV-00000001,2022-01-01,Actividades Textiles S.A.S.,K2C-30-15-B3^2022-01-01,Mensualidad Arriendo Inmueble,2022-01-01,IVA externo por pagar,-285000,285000
6,FV-00000002,2022-01-10,Productos de Caucho y Lona S.A.S.,C18-1N-33^2022-01-01,Mensualidad Arriendo Inmueble,2022-01-10,IVA externo por pagar,-134839,134839
14,FV-00000004,2022-01-15,Granos y Proteinas S.A.S.,K1B-30-16^2022-01-31,Mensualidad Arriendo Inmueble,2022-01-15,IVA externo por pagar,-304000,304000
10,FV-00000003,2022-01-15,Asoboce S.A.S.,C31-1B-64^2022-01-15,Mensualidad Arriendo Inmueble,2022-01-15,IVA externo por pagar,-380000,380000
18,FV-00000005,2022-01-31,Granos y Proteinas S.A.S.,K1B-30-16^2022-01-31,Mensualidad Arriendo Inmueble,2022-01-31,IVA externo por pagar,-570000,570000
26,FV-00000007,2022-02-01,Productos de Caucho y Lona S.A.S.,C18-1N-33^2022-01-01,Mensualidad Arriendo Inmueble,2022-02-01,IVA externo por pagar,-190000,190000
22,FV-00000006,2022-02-01,Actividades Textiles S.A.S.,K2C-30-15-B3^2022-01-01,Mensualidad Arriendo Inmueble,2022-02-01,IVA externo por pagar,-285000,285000
32,FV-00000009,2022-02-15,Asoboce S.A.S.,C31-1B-64^2022-01-15,Mensualidad Arriendo Inmueble,2022-02-15,IVA externo por pagar,-380000,380000
36,FV-00000010,2022-02-28,Granos y Proteinas S.A.S.,K1B-30-16^2022-01-31,Mensualidad Arriendo Inmueble,2022-02-28,IVA externo por pagar,-570000,570000
46,FV-00000013,2022-03-01,Productos de Caucho y Lona S.A.S.,C18-1N-33^2022-01-01,Mensualidad Arriendo Inmueble,2022-03-01,IVA externo por pagar,-190000,190000
42,FV-00000012,2022-03-01,Actividades Textiles S.A.S.,K2C-30-15-B3^2022-01-01,Mensualidad Arriendo Inmueble,2022-03-01,IVA externo por pagar,-285000,285000
50,FV-00000014,2022-03-15,Asoboce S.A.S.,C31-1B-64^2022-01-15,Mensualidad Arriendo Inmueble,2022-03-15,IVA externo por pagar,-380000,380000

In [1]:
def ledger_from_template(accountable, ledger_template, _date, _value, _user):
    charge_concept = Charge_Concept(
        state_change_user=_user,
        accountable=accountable.accountable_ptr,
        transaction_type=ledger_template.transaction_type,
        date=_date
    )
    charge_concept.save()
    
    ledger = Ledger(
        state_change_user=_user,
        type=ledger_template.ledger_type,
        holder=accountable.accounting_holder(),
        third_party=accountable.accounting_third_party(),
        date=datetime.date.today()
    )
    ledger.save()
    
    for charge_template in ledger_template.charges_templates.all():
        Charge(
            state_change_user=_user,
            ledger=ledger,
            account=charge_template.account,
            value=charge_template.factor.factored_value(accountable.accountable_ptr, _date, _value, charge_template.nature),
            concept=charge_concept
        ).save()

In [2]:
lease = Lease_Realty.objects.all()[0]
accountable = lease.accountable_ptr
holder = lease.accounting_holder()
third_party = lease.accounting_third_party()
date_value_dict = lease.date_value_dict()

ledger_template = Ledger_Template.objects.all()[1]
transaction_type = ledger_template.transaction_type
ledger_type = ledger_template.ledger_type
charges_templates = ledger_template.charges_templates.all()

user = User.objects.all()[0]

In [3]:
for _date, _value in date_value_dict.items():
    ledger_from_template(lease, ledger_template, _date, _value, user)

In [15]:
charge_concept = Charge_Concept.objects.all()[0]
ledger = Ledger.objects.all()[0]

charges = []
for charge_template in ledger_template.charges_templates.all():
    charge = Charge(
        state_change_user=user,
        ledger=ledger,
        account=charge_template.account,
        value=charge_template.factor.factored_value(lease.accountable_ptr, next(iter(date_value_dict)), date_value_dict[next(iter(date_value_dict))], charge_template.nature),
        concept=charge_concept
    ).save()
    charges.append(charge)

In [4]:
ledger_from_db()

,ledger,date,third_party,accountable,concept,concept__date,account,value,debit,credit
0,FV-00000001,2022-04-22,Actividades Textiles S.A.S.,K2C-30-15-B3^2022-01-01,Arriendo Inmueble Comercial,2022-01-01,13802005,1500000,1500000,0
1,FV-00000001,2022-04-22,Actividades Textiles S.A.S.,K2C-30-15-B3^2022-01-01,Arriendo Inmueble Comercial,2022-01-01,13802010,285000,285000,0
2,FV-00000001,2022-04-22,Actividades Textiles S.A.S.,K2C-30-15-B3^2022-01-01,Arriendo Inmueble Comercial,2022-01-01,240810,-285000,0,285000
3,FV-00000001,2022-04-22,Actividades Textiles S.A.S.,K2C-30-15-B3^2022-01-01,Arriendo Inmueble Comercial,2022-01-01,913005,-1500000,0,1500000
4,FV-00000002,2022-04-22,Actividades Textiles S.A.S.,K2C-30-15-B3^2022-01-01,Arriendo Inmueble Comercial,2022-02-01,13802005,1500000,1500000,0
5,FV-00000002,2022-04-22,Actividades Textiles S.A.S.,K2C-30-15-B3^2022-01-01,Arriendo Inmueble Comercial,2022-02-01,13802010,285000,285000,0
6,FV-00000002,2022-04-22,Actividades Textiles S.A.S.,K2C-30-15-B3^2022-01-01,Arriendo Inmueble Comercial,2022-02-01,240810,-285000,0,285000
7,FV-00000002,2022-04-22,Actividades Textiles S.A.S.,K2C-30-15-B3^2022-01-01,Arriendo Inmueble Comercial,2022-02-01,913005,-1500000,0,1500000
8,FV-00000003,2022-04-22,Actividades Textiles S.A.S.,K2C-30-15-B3^2022-01-01,Arriendo Inmueble Comercial,2022-03-01,13802005,1500000,1500000,0
9,FV-00000003,2022-04-22,Actividades Textiles S.A.S.,K2C-30-15-B3^2022-01-01,Arriendo Inmueble Comercial,2022-03-01,13802010,285000,285000,0
10,FV-00000003,2022-04-22,Actividades Textiles S.A.S.,K2C-30-15-B3^2022-01-01,Arriendo Inmueble Comercial,2022-03-01,240810,-285000,0,285000
11,FV-00000003,2022-04-22,Actividades Textiles S.A.S.,K2C-30-15-B3^2022-01-01,Arriendo Inmueble Comercial,2022-03-01,913005,-1500000,0,1500000
12,FV-00000004,2022-04-22,Actividades Textiles S.A.S.,K2C-30-15-B3^2022-01-01,Arriendo Inmueble Comercial,2022-04-01,13802005,1500000,1500000,0
13,FV-00000004,2022-04-22,Actividades Textiles S.A.S.,K2C-30-15-B3^2022-01-01,Arriendo Inmueble Comercial,2022-04-01,13802010,285000,285000,0
14,FV-00000004,2022-04-22,Actividades Textiles S.A.S.,K2C-30-15-B3^2022-01-01,Arriendo Inmueble Comercial,2022-04-01,240810,-285000,0,285000
15,FV-00000004,2022-04-22,Actividades Textiles S.A.S.,K2C-30-15-B3^2022-01-01,Arriendo Inmueble Comercial,2022-04-01,913005,-1500000,0,1500000