In [1]:
import os
import adin.settings as st
import pandas as pd

jpath = os.path.join
BASE_DIR = st.BASE_DIR

In [2]:
df = pd.DataFrame(Charge.objects.all().values()).drop(['state_change_user_id', 'state_change_date', 'state'], axis=1)
df

,id,ledger_id,account_id,value,concept_id,settled
0,1,FV-00000001,13802005,1500000,Mensualidad Arriendo Inmueble^2022-01-01_K2C-3...,False
1,2,FV-00000001,13802010,285000,Mensualidad Arriendo Inmueble^2022-01-01_K2C-3...,False
2,3,FV-00000001,240810,-285000,Mensualidad Arriendo Inmueble^2022-01-01_K2C-3...,False
3,4,FV-00000001,913005,-1500000,Mensualidad Arriendo Inmueble^2022-01-01_K2C-3...,False
4,5,FV-00000002,13802005,709677,Mensualidad Arriendo Inmueble^2022-01-10_C18-1...,False
...,...,...,...,...,...,...
136,137,RC-00000014,13802010,-380000,Mensualidad Arriendo Inmueble^2022-03-15_C31-1...,False
137,138,RC-00000014,913005,2000000,Mensualidad Arriendo Inmueble^2022-03-15_C31-1...,False
138,139,RC-00000014,28150505,-1930000,Mensualidad Arriendo Inmueble^2022-03-15_C31-1...,False
139,140,RC-00000014,839530,70000,Mensualidad Arriendo Inmueble^2022-03-15_C31-1...,False
140,141,RC-00000014,93950505,-70000,Mensualidad Arriendo Inmueble^2022-03-15_C31-1...,False

In [3]:
df.to_csv(jpath(BASE_DIR,'_files/exports/charges_exp.csv'))

In [1]:
from accounting.core.structure import Account_Structure

Account.chargeables.all()

<QuerySet [<Acc: 2515>, <Acc: 2520>, <Acc: 2525>, <Acc: 132805>, <Acc: 132810>, <Acc: 237005>, <Acc: 237006>, <Acc: 237010>, <Acc: 238030>, <Acc: 240805>, <Acc: 240810>, <Acc: 250505>, <Acc: 250510>, <Acc: 251010>, <Acc: 510506>, <Acc: 510527>, <Acc: 510530>, <Acc: 510533>, <Acc: 510536>, <Acc: 510539>, '...(remaining elements truncated)...']>