In [1]:
import os
import adin.settings as st
from IPython.display import display

jpath = os.path.join
BASE_DIR = st.BASE_DIR

In [37]:
date_str = '2022-05-13'
class_name = 'Address'

In [38]:
df = pd.read_csv(jpath(BASE_DIR, f'_files/exports/{date_str}_{class_name.lower()}.csv')).assign(class_name=class_name)
bi = pd.read_json(jpath(BASE_DIR, f'_files/_backup_info.json'))

In [39]:
df

,Unnamed: 0,state_change_user_id,state_change_date,state,code,country,region,city,street_type,street_number,...,numeral_letter,numeral_bis,numeral_bis_complement,numeral_coordinate,height_number,interior_group_type,interior_group_code,interior_type,interior_code,class_name
0,0,1,2022-04-06 18:31:04.303806+00:00,1,A6N-13N-62,Colombia,Valle del Cauca,Cali,0,6,...,NaN,False,NaN,0.0,62,NaN,NaN,NaN,NaN,Address
1,1,1,2022-04-06 18:31:04.318134+00:00,1,A6N-13N-62-S101,Colombia,Valle del Cauca,Cali,0,6,...,NaN,False,NaN,0.0,62,NaN,NaN,10.0,101.0,Address
2,2,1,2022-04-06 18:31:04.329253+00:00,1,A6N-13N-62-S102,Colombia,Valle del Cauca,Cali,0,6,...,NaN,False,NaN,0.0,62,NaN,NaN,10.0,102.0,Address
3,3,1,2022-04-06 18:31:04.341049+00:00,1,A6N-13N-62-S103,Colombia,Valle del Cauca,Cali,0,6,...,NaN,False,NaN,0.0,62,NaN,NaN,10.0,103.0,Address
4,4,1,2022-04-06 18:31:04.352783+00:00,1,A6N-13N-62-S104,Colombia,Valle del Cauca,Cali,0,6,...,NaN,False,NaN,0.0,62,NaN,NaN,10.0,104.0,Address
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
230,230,3,2022-05-05 21:59:29.621268+00:00,1,C6A-60-28,Colombia,Valle del Cauca,CALI,1,6,...,NaN,NaN,NaN,NaN,28,NaN,NaN,NaN,NaN,Address
231,231,3,2022-05-05 21:59:56.626617+00:00,1,K26G-87-29,Colombia,Valle del Cauca,CALI,2,26,...,NaN,NaN,NaN,NaN,29,NaN,NaN,NaN,NaN,Address
232,232,3,2022-05-06 15:08:44.874287+00:00,1,K30-9C-54,Colombia,Valle del Cauca,CALI,2,30,...,2.0,NaN,NaN,NaN,54,NaN,NaN,NaN,NaN,Address
233,233,3,2022-05-06 15:20:14.886990+00:00,1,K53-96-45,Colombia,Valle del Cauca,CALI,2,53,...,NaN,NaN,NaN,NaN,45,NaN,NaN,NaN,NaN,Address
234,234,3,2022-05-06 15:20:32.380811+00:00,1,K4-16-47,Colombia,Valle del Cauca,CALI,2,4,...,NaN,NaN,NaN,NaN,47,NaN,NaN,NaN,NaN,Address

In [40]:
bi

                                                       Address
fk_attrs                                                    {}
value_attrs  [country, region, city, street_type, street_nu...

In [42]:
from scripts.restore_one import df2objs

df2objs(df, bi)

KeyError: 'class'